@import url('https://fonts.googleapis.com/css?family=Sen&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f9fafb;
  font-family: 'Sen', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  width: 420px;
}

.form {
  padding: 30px 40px;
}

.form h2 {
  text-align: center;
  margin: 0 0 20px;
}

.form-group {
  margin-bottom: 10px;
  padding-bottom: 20px;
}

.form-group label {
  display: block;
  color: #777;
  margin-bottom: 3px;
}

.form-group input {
  display: block;
  width: 100%;
  border-radius: 3px;
  padding: 10px;
  border: 2px solid #f0f0f0;
  font-size: 14px;
}

.form-group input:focus {
  outline: none;
  border-color: #777;
}

.form-group small {
  color: #e74c3c;
  position: absolute;
  visibility: hidden;
}
.form-group.success input {
  border-color: #2ecc71;
}

.form-group.error input {
  border-color: #e74c3c;
}

.form-group.error small {
  visibility: visible;
}

.btn {
  cursor: pointer;
  margin-top: 15px;
  font-size: 16px;
  color: #fff;
  background-color: #32845c;
  border: 1px solid #32845c;
  border-radius: 5px;
  padding: 10px 0;
  width: 100%;
  border: none;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}
